/*!
	-----------------------------------------------------------------------------

	2.0 - Basicos
			# Basic
			# Utility
			# Loader
			# Boton
			# Modal

	-----------------------------------------------------------------------------
	*/

/*  Basic
	========================================================================== */
*,
*:after,
*:before
	box-sizing: border-box

*
	margin: 0
	padding: 0

body
	background-color: $black
	font:
		family: $font-base
		size: 16px
		weight: 300
	color: $text-base
	&.body-white
		background-color: $white

/* a */
a
	color: $primary-color
	font:
		family: $font-base
		size: 16px
		weight: 400
	text-decoration: none
	+transition(all 0.3s ease-in)
	&:hover
		color: $primary-color-light
		text-decoration: none
		+transition(all 0.3s ease-out)

/* img */
img
	+transition(all 0.5s ease-in)

/* Utility
   ========================================================================== */
/* h1 - h6 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
	font:
		family: $font-base
		weight: 400
	margin: 0
	padding: 0
h1,
.h1
	font-size: 2.8em
h2,
.h2
	font-size: 2.4em
h3,
.h3
	font-size: 2em
h4,
.h4
	font-size: 1.6em
h5,
.h5
	font-size: 1.4em
h6,
.h6
	font-size: 1.2em

/* hr */
hr
	border: none
	margin: 0

/* Page */
.page
	display: block

/* Contenedor */
.container,
.container-full
	// background-color: rgba($white,.1)
	margin: 0 auto
	max-width: 1024px
	width: 90%

.container-full
	max-width: 1280px

/*  Loader
	================================================ */
.loader
	align-items: center
	background-color: $white
	bottom: 0
	display: flex
	height: 100vh
	left: 0
	justify-content: center
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 999
	
// Large
// @include respond-to(lg)
// Desktop
// @include respond-to(md)
// Tablet
// @include respond-to(sm)
// Mobile
// @include respond-to(xs)
// Extra mobile
// @include respond-to(xx)

/*  Btn
    ================================================ */
.btn
	display: inline-block
	font-weight: 400
	line-height: 1.25
	text-align: center
	white-space: nowrap
	vertical-align: middle
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	border: 1px solid transparent
	padding: .5rem 1rem
	font-size: 1rem
	border-radius: .25rem
	+box-shadow(1)

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus 
	outline: none
	outline-offset: -2px

.btn:focus,
.btn:hover
	+box-shadow(2)
	text-decoration: none

.btn.focus 
	text-decoration: none

.btn.active,
.btn:active 
	background-image: none
	outline: 0

.btn.disabled,
.btn:disabled 
	cursor: not-allowed
	opacity: .65

// Primary
.btn-primary 
	color: $white
	background-color: $primary-color
	border-color: $primary-color

.btn-primary:hover 
	color: $white
	background-color: $primary-color-light
	border-color: $primary-color-light

.btn-primary.focus,
.btn-primary:focus 
	color: $white
	background-color: $primary-color-dark
	border-color: $primary-color-dark

.btn-primary.active,
.btn-primary:active
	color: $white
	background-color: $primary-color-dark
	border-color: $primary-color-dark
	background-image: none

// Secundary
.btn-secundary 
	color: $white
	background-color: $secundary-color
	border-color: $secundary-color

.btn-secundary:hover 
	color: $white
	background-color: $secundary-color-light
	border-color: $secundary-color-light

.btn-secundary.focus,
.btn-secundary:focus 
	color: $white
	background-color: $secundary-color-dark
	border-color: $secundary-color-dark

.btn-secundary.active,
.btn-secundary:active
	color: $white
	background-color: $secundary-color-dark
	border-color: $secundary-color-dark
	background-image: none

/*  Modal
    ================================================ */
.modal
	display: none
	position: fixed
	z-index: 19
	left: 0
	top: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba($black,0.4)
	align-items: center
	justify-content: center
	// Contenedor
	.modal-content
		-webkit-animation-duration: 0.4s
		-webkit-animation-name: animatetop
		animation-duration: 0.4s
		animation-name: animatetop
		background-color: #EFFAFF
		border: 1px solid #888
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
		+border-radius(6px)
		margin: auto
		max-width: 700px
		padding: 22px 38px
		position: relative
		width: 90%
		// Close
		.modal-close
			// color: #aaa
			// float: right
			font-size: 1em
			&:hover,
			&:focus
				color: black
				cursor: pointer
				// text-decoration: none
	// Modal - Mensaje
	&.modal-mensaje
		.modal-content
			max-width: 400px
			padding: 22px
			// Close
			.modal-close
				position: absolute
				right: 10px
				top: 10px
			p
				margin-top: 30px
				text-align: justify
			// Footer
			.modal-footer
				align-items: center
				display: flex
				justify-content: center
				margin-top: 36px
				.btn-modal-mensaje
					background-color: rgba($primary-color,.4)
					// color: rgba($secundary-color,.9)
					margin-right: 10px
					// text-decoration: underline
					&:focus,
					&:hover
						background-color: rgba($primary-color,.6)
// Keyframes
-webkit-keyframes animatetop
	from
		top: -300px
		opacity: 0
	to
		top: 0
		opacity: 1

@keyframes animatetop
	from
		top: -300px
		opacity: 0
	to
		top: 0
		opacity: 1


/*  Delay
	================================================ */
.delay-1 
	-webkit-animation-delay: 0.15s
	animation-delay: 0.15s

.delay-2 
	-webkit-animation-delay: 0.2s
	animation-delay: 0.25s

.delay-3 
	-webkit-animation-delay: 0.35s
	animation-delay: 0.35s

.delay-4 
	-webkit-animation-delay: 0.45s
	animation-delay: 0.45s

.delay-5 
	-webkit-animation-delay: 0.55s
	animation-delay: 0.55s

.delay-6 
	-webkit-animation-delay: 0.65s
	animation-delay: 0.65s


/*  Datepicker
	================================================ */
.ui-datepicker
	background-color: $white
	+box-shadow(2)
	.ui-datepicker-header
		background-color: $secundary-color
		// Arrow
		.ui-datepicker-prev,
		.ui-datepicker-next
			align-items: center
			background-color: rgba($black,.16)
			border: 1px solid $secundary-color
			color: $white
			cursor: pointer
			display: flex
			justify-content: center
			span
				background-image: none
				display: none
		.ui-state-hover
			top: 2px
		.ui-datepicker-prev-hover
			left: 2px
		.ui-datepicker-next-hover
			right: 2px
		.ui-datepicker-prev
			&:after
				content: "\f124"
				font-family: "Ionicons"
			// &:hover
			// 	background-color: yellow
		.ui-datepicker-next
			&:after
				content: "\f125"
				font-family: "Ionicons"
		// Title
		.ui-datepicker-title
			color: $white

// Default Style - Datepicker
.ui-state-default,
.ui-widget-content .ui-state-default
	border: 1px solid transparent
	text-align: center

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight
	background-color: rgba($secundary-color,.9)
	color: $white

.ui-datepicker-calendar
	thead
		color: $text-base
