/*!
	-----------------------------------------------------------------------------

	3.0 - Header
			# Extra

	-----------------------------------------------------------------------------
	*/

/*  Header
	================================================ */
header
	// background-color: green
	padding: 38px 0
	position: relative
	text-align: center
	z-index: 2
	h1
		color: $white
		font-size: 1.406em