/*!
	-----------------------------------------------------------------------------

	3.0 - Header
			# Header
			# Header Admin

	-----------------------------------------------------------------------------
	*/

/*  Header
	================================================ */
header
	// background-color: green
	padding: 38px 0
	position: relative
	text-align: center
	z-index: 2
	h1
		color: $white
		font-size: 1.406em

/*  Header Admin
	================================================ */
.header-admin
	align-items: center
	background-color: rgba(yellow,.2)
	display: flex
	justify-content: space-between