/*!
	-----------------------------------------------------------------------------

	7.0 - Ver Capítulo
			# Extra

	-----------------------------------------------------------------------------
	*/

/*  Ver Capítulo
	================================================ */
.ver-capitulo
	position: relative
	// Header
	.ver-capitulo-header
		align-items: center
		// background-color: rgba(yellow,.4)
		background-image: url(../images/portada.jpg)
		background-position: 50%
		background-repeat: no-repeat
		background-size: cover
		display: flex
		flex-direction: column
		height: 444px
		justify-content: space-around
		margin-bottom: 30px
		position: relative
		+transition(all 0.3s ease-in)
		// Logo
		h1
			color: $white
			font-size: 1.406em
			margin-top: 30px
		// Title
		h2
			color: $white
			font-size: 4.063em
			font-weight: 400
			margin-top: 140px
			text-align: center
		// Leer de día o noche
		.ver-capitulo-leer
			color: #8EF0EF
			cursor: pointer
			font-size: 1.250em
			left: 30px
			position: absolute
			top: 44px
			z-index: 3
		// Leer de día o noche - Full
		.ver-capitulo-leer-full
			color: #8EF0EF
			cursor: pointer
			display: none
			font-size: 1.250em
			left: 30px
			position: absolute
			top: 44px
			z-index: 3
		// FullScreen
		.ver-capitulo-full-screen,
		.ver-capitulo-close-screen
			align-items: center
			color: #8EF0EF
			cursor: pointer
			display: flex
			justify-content: center
			position: absolute
			right: 20px
			top: 400px
			z-index: 3
			span
				font-size: 0.7em
				margin-right: 8px
				text-transform: uppercase
			i
				font-size: 0.85em
		.ver-capitulo-close-screen
			display: none
	// Post
	.ver-capitulo-post
		margin: 0 auto
		max-width: 600px
		width: 90%
		p
			color: #AAF5F5
			font-size: .9em
			line-height: 1.250em
			margin-bottom: 22px
			text-align: justify
		img
			margin: 0 auto 22px
			width: 100%
	// Ver capítulo - white
	&.ver-capitulo-white
		// background-color: red
		// Post
		.ver-capitulo-post
			// background-color: pink
			p
				color: $text-base
	// Ver capítulo - white
	&.ver-capitulo-white-full
		background-color: $white
		// Post
		.ver-capitulo-post
			// background-color: pink
			p
				color: $text-base
	// Ver capítulo - Full
	&.ver-capitulo-full
		// background-color: transparent
		overflow-y: auto
		width: 100%
	&:fullscreen,
	&:-webkit-full-screen,
	&:-moz-full-screen
		background-color: transparent

/* Changing something in the body */
:-webkit-full-screen
	background-color: transparent
:-moz-full-screen
	background-color: transparent

/* normal state */
.my-container 
	width: 640px
	height: 360px

/* Mozilla proposal (dash) */
.my-container:full-screen 
	width: 100%
	height: 100%

/* W3C proposal (no dash) */
.my-container:fullscreen 
	width: 100%
	height: 100%

/* currently working vendor prefixes */
.ver-capitulo:-webkit-full-screen,
.ver-capitulo:-moz-full-screen 
	width: 100%
	height: 100%