/*!
	-----------------------------------------------------------------------------

	7.0 - Ver Capítulo
			# Extra

	-----------------------------------------------------------------------------
	*/

/*  Ver Capítulo
	================================================ */
.ver-capitulo
	position: relative
	// Header
	.ver-capitulo-header
		align-items: center
		// background-color: rgba(yellow,.4)
		background-image: url(../images/portada.jpg)
		background-position: 50%
		background-repeat: no-repeat
		background-size: cover
		display: flex
		flex-direction: column
		height: 70vh
		left: 0
		justify-content: space-around
		// margin-bottom: 30px
		position: fixed
		right: 0
		top: 0
		+transition(all 0.3s ease-in)
		z-index: 1
	.ver-capitulo-header-textos
		// background-color: rgba(yellow,.34)
		height: 70vh
		padding: 30px 0
		position: relative
		text-align: center
		z-index: 2
		// Logo
		h1
			color: $white
			font-size: 1.406em
			margin-top: 0
		// Title
		h2
			bottom: 30px
			color: $white
			font-size: 4.063em
			font-weight: 400
			left: 50%
			margin-left: -400px
			margin-top: 140px
			position: absolute
			text-align: center
			width: 800px
		// Btn to Back
		.ver-capitulo-back
			color: $white
			cursor: pointer
			font-size: 1.3em
			left: 30px
			position: fixed
			top: 42px
			z-index: 3
			&:hover
				color: $teal
		// Leer de día o noche
		.ver-capitulo-leer
			color: $teal
			cursor: pointer
			font-size: 1.250em
			left: 60px
			position: fixed
			top: 44px
			z-index: 3
			&:hover
				color: $white
		// Leer de día o noche - Full
		.ver-capitulo-leer-full
			color: $teal
			cursor: pointer
			display: none
			font-size: 1.250em
			left: 60px
			position: fixed
			top: 44px
			z-index: 3
			&:hover
				color: $white
		// FullScreen
		.ver-capitulo-full-screen,
		.ver-capitulo-close-screen
			align-items: center
			color: $teal
			cursor: pointer
			display: flex
			justify-content: center
			position: fixed
			right: 20px
			top: 400px
			z-index: 3
			span
				font-size: 0.7em
				margin-right: 8px
				text-transform: uppercase
			i
				font-size: 0.85em
		.ver-capitulo-close-screen
			display: none
	// Post
	.ver-capitulo-post
		// background-color: rgba(red,.34)
		margin: 0 auto
		max-width: 600px
		padding: 20px 0
		position: relative
		width: 90%
		z-index: 2
		// Descripción
		.ver-capitulo-post-desc
			.ver-capitulo-post-desc-text
				// border: 1px solid transparent
				color: #AAF5F5
				font-size: .9em
				line-height: 1.250em
				margin-bottom: 22px
				padding: 4px
				text-align: justify
				// &:focus
				// 	border: 1px solid rgba($white,.1)
				// 	outline: none
		// Imagen
		.ver-capitulo-post-image
			// background-color: red
			align-items: center
			display: flex
			justify-content: center
			margin: 0 auto 20px
			position: relative
			.ver-capitulo-post-image-item
				align-items: center
				// background-color: yellow
				display: flex
				justify-content: center
				&.ver-capitulo-post-image-item-file
					.inputfile
						+ label
							+box-shadow(2)
							left: 50%
							margin-left: -78px
							margin-top: -22.5px
							position: absolute
							top: 50%
				.inputfile
					width: 0.1px
					height: 0.1px
					opacity: 0
					overflow: hidden
					position: absolute
					z-index: -1
					// display: none
					// visibility: hidden
					+ label
						align-items: center
						background-color: $black
						border: 1px dashed #C4CFD4
						color: $white
						display: flex
						justify-content: center
						font-family: $font-base
						font-size: 1.2em
						font-weight: 300
						min-height: 30px
						overflow: hidden
						padding: 10px
						position: relative
						width: 156px
						// &:focus
						// 	outline: none
					&:focus + label,
					+ label:hover
						background-color: rgba($black,.8)
					+ label
						cursor: pointer
					&:focus + label
						// outline: 1px dotted #000
						// outline: -webkit-focus-ring-color auto 5px
						color: $teal
						border: 1px dashed $teal
					+ label *
						pointer-events: none
				img
					display: none
					margin: 0 auto 22px
					max-width: 100%
					width: auto
		.ver-capitulo-post-imagen
			text-align: center
			img
				// border: 1px solid transparent
				margin: 0 auto 22px
				max-width: 100%
				width: auto
				// &:focus
				// 	border: 1px solid rgba($white,.1)
				// 	outline: none
		
			// &:focus
			// 	border: 1px solid rgba($white,.1)
			// 	outline: none
		// File Imagen Post
		.modal-admin-form-imagen
			align-items: center
			background-color: $black
			display: flex
			border: 1px dashed #C4CFD4
			justify-content: center
			height: 100px
			margin-bottom: 30px
			overflow: hidden
			position: relative
			width: 100%
			span
				color: #979797
				display: block
				font-size: 1.6em
			&:focus,
			&:hover
				border: 1px dashed #979797
				outline: none
				&:after
					color: #979797
			&:after
				align-items: center
				background-color: $black
				bottom: 0
				content: "Agregar Imagen"
				color: #C4CFD4
				cursor: pointer
				display: flex
				font-family: $font-base
				font-size: 1.3em
				font-weight: 400
				height: 100%
				justify-content: center
				left: 0
				position: absolute
				right: 0
				top: 0
				width: 100%
	
	// Ver capítulo - white
	&.ver-capitulo-white
		background-color: $white
		// Post
		.ver-capitulo-post
			// background-color: pink
			.ver-capitulo-post-desc
				.ver-capitulo-post-desc-text
					border: 1px solid transparent
					color: $text-base
					&:focus,
					&:hover
						border: 1px solid rgba($black,.1)
		// Imagen
		.modal-admin-form-imagen
			&:after
				background-color: $white
	// Ver capítulo - Full
	&.ver-capitulo-full
		// background-color: $black
		// background-color: transparent
		overflow-y: auto !important
		width: 100%
		// Imagen
		.modal-admin-form-imagen
			&:after
				background-color: #000
	// Ver capítulo - white full
	&.ver-capitulo-white-full
		background-color: $white
		// Post
		.ver-capitulo-post
			// background-color: pink
			.ver-capitulo-post-desc
				.ver-capitulo-post-desc-text
					border: 1px solid transparent
					color: $black
					&:focus,
					&:hover
						border: 1px solid rgba($black,.1)
		// Imagen
		.modal-admin-form-imagen
			&:after
				background-color: $white
	// Ver capítulo - Admin
	&.ver-capitulo-admin
		// Post
		.ver-capitulo-post
			// Descripción
			.ver-capitulo-post-desc
				.ver-capitulo-post-desc-text
					border: 1px solid transparent
					&:focus,
					&:hover
						border: 1px solid rgba($white,.1)
						outline: none
			// Imagen
			.ver-capitulo-post-imagen
				img
					border: 1px solid transparent
					&:focus,
					&:hover
						border: 1px solid rgba($white,.1)
						outline: none
			// Btn Hover Close
			.ver-capitulo-post-hover-close
				// background-color: rgba(red,.3)
				// cursor: n-resize
				position: relative
				// Close
				.ver-capitulo-post-hover-close-btn
					+border-radius(50%)
					align-items: center
					background-color: red
					color: $white
					cursor: pointer
					display: none
					height: 24px
					justify-content: center
					opacity: .9
					position: absolute
					right: -12px
					top: -12px
					width: 24px
					i
						font-size: 1em
					&:hover
						opacity: 1
				// Mover
				.ver-capitulo-post-hover-mover-btn
					+border-radius(50%)
					align-items: center
					background-color: $primary-color
					color: $white
					cursor: pointer
					display: none
					height: 24px
					justify-content: center
					opacity: .9
					position: absolute
					right: 18px
					top: -12px
					width: 24px
					i
						font-size: 1em
					&:hover
						opacity: 1
				&:hover
					// border: 1px solid rgba($white,.1)
					.ver-capitulo-post-hover-close-btn,
					.ver-capitulo-post-hover-mover-btn
						display: flex
		// Ver capítulo - white
		&.ver-capitulo-white
			background-color: $white
			// Post
			.ver-capitulo-post
				// background-color: pink
				.ver-capitulo-post-desc
					.ver-capitulo-post-desc-text
						border: 1px solid transparent
						color: $text-base
						&:focus,
						&:hover
							border: 1px solid rgba($black,.1)
			// Imagen
			.ver-capitulo-post-imagen
				img
					border: 1px solid transparent
					&:focus,
					&:hover
						border: 1px solid rgba($black,.1)
						outline: none
				&:after
					background-color: $white
		// Ver capítulo - white full
		&.ver-capitulo-white-full,
		&.ver-capitulo-white
			background-color: $white
			// Post
			.ver-capitulo-post
				// background-color: pink
				.ver-capitulo-post-desc
					.ver-capitulo-post-desc-text
						border: 1px solid transparent
						color: $text-base
						&:focus,
						&:hover
							border: 1px solid rgba($black,.1)
			// Imagen
			.ver-capitulo-post-imagen
				img
					border: 1px solid transparent
					&:focus,
					&:hover
						border: 1px solid rgba($black,.1)
						outline: none
				&:after
					background-color: $white
	// Etiquetas para full screen
	&:fullscreen,
	&:-webkit-full-screen,
	&:-moz-full-screen
		background-color: transparent


/*  FullScreen
	================================================ */
:-webkit-full-screen
	background-color: transparent
:-moz-full-screen
	background-color: transparent



/*  Controles
	================================================ */
.ver-capitulo-controlers,
.listado-controlers
	// background-color: teal
	display: flex
	justify-content: flex-end
	margin: 40px auto 0
	bottom: 50px
	position: fixed
	right: 40px
	.ver-capitulo-controlers-btn-circle,
	.listado-controlers-btn-circle
		align-items: center
		// background-color: $secundary-color
		// border-color: $secundary-color
		border: none
		+border-radius(50%)
		color: $white
		display: flex
		justify-content: center
		height: 50px
		margin-left: 12px
		position: relative
		width: 50px
		i
			font-size: 1.5em
		// Btn Ver capítulo - Texto
		&.ver-capitulo-controlers-btn-circle-texto
			background-color: $pink-color
			border-color: $pink-color
			&:hover
				background-color: $pink-color-light
				border-color: $pink-color-light
			&:focus
				background-color: $pink-color-light
				border-color: $pink-color-light
		// Btn Ver capítulo - Imagen
		&.ver-capitulo-controlers-btn-circle-imagen,
		&.listado-controlers-btn-circle-editar
			background-color: $green-color
			border-color: $green-color
			&:hover
				background-color: $green-color-light
				border-color: $green-color-light
			&:focus
				background-color: $green-color-light
				border-color: $green-color-light
		// Btn Listado - Crear
		&.listado-controlers-btn-circle-agregar
			background-color: $secundary-color
			border-color: $secundary-color
			&:hover
				// color: $white
				background-color: $secundary-color-light
				border-color: $secundary-color-light
			&:focus
				// color: $white
				background-color: $secundary-color-dark
				border-color: $secundary-color-dark


/*  Progress Bar
	================================================ */
.ver-capitulo-post-progress
	background-color: #f1f1f1
	+border-radius(20px)
	display: none
	height: 1.1em
	// left: 50%
	// margin-left: -22.5%
	margin: 0 auto
	padding: 2px
	position: absolute
	top: calc(50% + 30px)
	width: 45%
	&.ver-capitulo-post-progress-anim
		display: block
	// Bar
	.ver-capitulo-post-progress-bar
		background-color: #87D37C
		+border-radius(20px)
		height: calc(100% - 4px)
		line-height: inherit
		position: absolute
		width: 0%
	// Texto
	span
		// background-color: red
		color: #1E824C
		font-size: .75em
		font-weight: 500
		left: 50%
		margin-left: -25px
		margin-top: -7px
		max-width: 50px
		position: absolute
		text-align: center
		top: 50%
		width: 90%
